body
{   
    main 
    {
        #titulos
        {
            @include titulos;
            @include estilos_centrados;
            
        }
        #galeria
        {
            .col-lg-4
            {
                margin: 0 !important;
                padding: 25px;
            }
            img 
            {
                width: 100%;
                height: 300px;
                &:hover
                {
                    border:5px solid;
                    border-left-color: rgb(189, 122, 252);
                    border-top-color: rgb(241, 121, 231);
                    border-right-color: rgb(108, 241, 103);
                    border-bottom-color: rgb(226, 208, 43);
                }
            }
            .col-lg-6
            {
                margin: 0 !important;
                padding: 25px;
            }
        }
        // CARRUSEL
        #carouselExampleIndicators .carousel-inner .carousel-item img {
            max-height: 500px; 
            object-fit: cover; 
        }

        #carouselExampleIndicators {
            max-height: 550px; 
            overflow: hidden; 
        }

    }
}