// MODULO DEL MAIN DEL INDEX
body
{
    .main_home
    {
        height: 75vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        grid-template-areas:
            "texto_home imagen_home";
        .texto_home
        {
            grid-area: texto_home;
            @include estilos_centrados;
            flex-direction: column;
            font-family: $textos-principales;
            // animacion 
            h1
            {
                font-size: 50px;
                background: linear-gradient(#1497be, #1c3036);
                color:transparent;
                background-clip: text;
                -webkit-background-clip: text;
                animation: text 5s linear infinite;
                @keyframes text 
                                {
                                    0%
                                    {
                                        filter: hue-rotate(0deg);
                                    }
                                    100%
                                    {
                                        filter: hue-rotate(360deg);
                                    }
                                }
                                
            }   
            h2 
            {
                font-size: 40px;
                background: linear-gradient(#181b1b, #1d495e);
                color:transparent;
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
        
        
        .imagen_home
        {
            @include estilos_centrados;
            grid-area: imagen_home;
            animation: spin 3s linear;
        }
        @keyframes spin 
        {
            0%{
                transform: rotate(0deg); 
            }
            100% {
                transform: rotate(360deg);
            }
        }

        
    }
}