body
{
    .seccion_contacto
    {
        display: grid;
        padding: 1rem;
        grid-template-columns: 70% 30%;
        grid-template-rows: 55vh 20vh;
        grid-template-areas:
            "datosformulario mapa"
            "motivodecontacto mapa";
        .datosformulario
        {
            grid-area: datosformulario;
            font-family: $textos;
        }
        .motivodecontacto
        {
            grid-area: motivodecontacto;

        }
        .mapa
        {
            @include estilos_centrados;
            grid-area: mapa;
        }
        #titulos
        {
            @include titulos;
            @include estilos_centrados;
            
        }
    }
}