body
{
    .main_nosotros
    {
        height: 75vh;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 90%;
        grid-template-areas:
            "titulo_nosotros titulo_nosotros"
            "texto_nosotros foto_nosotros";
        #titulos
        {
            @include titulos;
            @include estilos_centrados;
            
        }
        @keyframes movimientotitulos {
            from
            {
                transform: translateX(-250px);
            }
            to 
            {
                transform: translateX(0px);
            }
            
        }

        .texto_nosotros
        {
            display:flex;
            padding: 1rem;
            grid-area: texto_nosotros;
            flex-direction: column;
            justify-content: center;
            font-family: $textos;
            p
            {
                font-size: 25px;
            }

        }
        
        .foto_nosotros
        {
            @include estilos_centrados;
            grid-area: foto_nosotros;
            transition: transform 0.5s ease;
            img 
            {
                width: 100%;
                height: 100%;
            }
            :hover
            {
                transform: scale(1.3);  
            }
            
        }
    }
}