body {
    .main_novedades {
        height: 75vh;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
        grid-template-areas:
            "novedades calendario";

        .novedades {
            display: grid;
            padding: 1rem;
            grid-area: novedades;
            font-family: $textos;
            font-size: 20px;
        }

        .calendario {
            background-image: url("../images/novedades_sanmartin.png");
            background-position: center center;
            display: grid;
            grid-area: calendario;
            .titulo_calendario
            {
                font-family: $textos;
                @include estilos_centrados;
                font-weight: bold;
            }
            li
            {
                font-weight: bold;
            }
            ol {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                list-style: none;
                padding: 0;
              }
              .first-day
            {
                grid-column-start: 2
            }
        }
        h1 
        {
            font-size: 35px;
        }

    }
}