@mixin reset
{
    margin:0;
    padding:0
}
@mixin estilos_centrados
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin titulos
{
    padding: 1rem;
            grid-area: titulo_nosotros;
            font-family: $textos;
            font-size: 35px;
            animation: movimientotitulos 2s 1;
}